<div class="grid grid-cols-2 grid-rows-1 bg-indigo-50 rounded-xl shadow">
  <div class="p-[30px] flex-col justify-start items-start gap-6 inline-flex">
    <div class="self-stretch h-[27px] flex-col justify-start items-start gap-5 flex">
      <div class="self-stretch text-slate-800 text-[21px] font-semibold font-['Poppins'] leading-7">{{title}}</div>
    </div>
    <div class="self-stretch justify-start items-center gap-4 inline-flex">
      <div class="flex-col justify-start items-start gap-1 inline-flex">
        <div class="text-slate-800 text-[21px] font-semibold font-['Poppins'] leading-7">{{ number_of_tickets }}</div>
      </div>
      <div class="h-6 px-2 py-0.5 rounded justify-start items-center flex">
        <div class="w-[66px] text-slate-400 text-sm font-semibold font-['Poppins'] leading-tight">
          <div class="w-16 h-6 px-2 py-0.5 bg-white rounded justify-start items-center inline-flex">
            <div class="w-[66px] text-slate-400 text-sm font-semibold font-['Poppins'] leading-tight">Tickets</div>
          </div>
        </div>
      </div>
    </div>
    <div matRipple class="h-9 px-4 bg-blue-400 rounded justify-start items-center gap-1 inline-flex cursor-pointer">
      <app-button buttonText="Detail"></app-button>
    </div>
  </div>
  <div>
    <img class="w-[281px] h-[214px]" ngSrc="assets/images/Layer 136 1.png" alt="" height="214" width="281"/>
  </div>
</div>
