<div class="w-[300px] p-[30px] bg-white rounded-xl shadow flex-col justify-start items-start gap-3 inline-flex">
  <div class="self-stretch h-[22px] flex-col justify-start items-start gap-[5px] flex">
    <div class="self-stretch text-slate-800 text-lg font-semibold font-['Poppins'] leading-snug">{{title}}</div>
  </div>
  <div class="self-stretch justify-start items-center gap-[30px] inline-flex">
    <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
      <div class="self-stretch h-[29px] flex-col justify-start items-start gap-2 flex">
        <div class="self-stretch text-slate-800 text-2xl font-semibold font-['Poppins'] leading-[28.80px]">{{value}} {{unit}}</div>
      </div>
    </div>
  </div>
</div>
